/* ! Generales */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
input, textarea{
    outline: none;
}
input::required{
    outline: red;
}
/* ! Divs */
div.container_all{
    margin: auto;
    padding: 20px;
    max-width: 1200px;
}
/* ! Titulo */
div.container_all > h1{
    text-align: center;
    margin-bottom: 20px;
    color: deepskyblue;
}
/* ! Separadores de contenido */
span.separadores{
    height: 25px;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 5px;
    line-height: 25px;
    width: 99.50%;
    display: block;
    background-color: deepskyblue;
    color: aliceblue;
    font-weight: bold;
}
span.ama{
    background-color: rgb(241, 216, 134);
    color: black;
}
/* ! Contenedor: Datos Actua como Representante */
div.container_representante{
    margin-bottom: 30px;
}
div.container_representante > label{
    margin-right: 10px;
}
/* ! Contenedor: Datos del Representante */
div.container_datosRepresentante{
    margin-bottom: 30px;
}
/* ! Contenedor: Domicilio de contacto */
div.container_contacto{
    margin-bottom: 30px;
}
/* ! Contenedor: Mas datos */
div.container_masDatos{
    margin-bottom: 30px;
}
/* ! Contenedor: Alergias... */
div.container_alergias{
    margin-bottom: 30px;
}
textarea{
    width: 99.50%;
    height: 100px;
    resize: none;
}
/* ! Contenedor: Datos academicos */
div.container_datosAcademicos{
    margin-bottom: 30px;
}
div.container_datosAcademicos > details > input{
    margin-left: 15px;
}
/* ! Contenedor: Medios de difusion */
div.container_mediosDifusion{
    margin-bottom: 30px;
}
div.container_mediosDifusion label{
    margin-right: 10px;
}
div.container_mediosDifusion > div.contenido{
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
/* ! Contenedor: Documentos adjuntos */
div.container_documentosAdjuntos{
    margin-bottom: 30px;
}
div.aviso{
    padding: 10px;
    border: 2px solid khaki;
    border-radius: 6px;
    background-color: rgb(243, 239, 207);
}
div.aviso > ul{
    margin-left: 30px;
}
/* div.aviso > svg{
    margin-top: 10px;
} */
/* ! Contenedor: Lista de documentos pendientes */
div.container_documentosPendientes{
    margin-bottom: 30px;
}
div.container_documentosPendientes > div{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
div.container_documentosPendientes > div.contenido{
    margin: 0px;
    display: flex;
}
div.container_documentosPendientes > div.contenido > div.contenido-izq{
    margin-bottom: 10px;
    padding: 10px;
    width: 60%;
}
div.container_documentosPendientes > div.contenido > div.contenido-der{
    margin-bottom: 10px;
    padding: 10px;
    width: 40%;
}
.files{
    width: 100%;
}
/* ! Contenedor: Botones */
div.container_botones{
    display: flex;
    justify-content: center;
}
div.container_botones > button{
    margin: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 6px;
    background-color: deepskyblue;
    color: aliceblue;
}
