body{
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 1500px;
}

input, button, div.pregunta {
    margin: 1em;
    border: 1px solid white;
    background-color: rgb(181, 135, 233);
    padding: 1em;
}

.error {
    background-color: rgb(236, 99, 110);
    color: white;
}

.ok {
    background-color: rgb(142, 240, 122);
    color: white;
}

.correcta {
    background-color: rgb(64, 64, 240);
}

li {
    list-style: none;
}

ul {
    padding: 0;

}

.imagen{
    margin-left: 75%;
}

img{
    margin-top: -90px;
    width: 250px;
    height: 250px;
}