body{
        color: rgba(234, 185, 58, 1);
        font-family: 'Space Grotesk', sans-serif;
}

h1{
        font-size: 60px;
}

button{
        margin-top: 10px;
}

.fondo{
        background-image: url("../themes/fondo5.jpg");
        background-repeat: no-repeat;
        position: relative;
        width: 95%;
        
}

.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
}

label{
        font-size: 22px;
}
img{
        width: auto;
        height: 600px;
}
.container2{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
}

.borde{
        width: 600px;
        height: 600px;
        border: rgba(234, 185, 58, 1) 5px ridge;
}
