*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-family: 'Heebo', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

header{
    position: relative;
}

nav{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(29, 29, 31, 0.6);
}

.flex_container_separator{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.color1{
    margin-top: 3px;
    margin-left: 3%;
    margin-right: 3%;
    height: 7px;
    background-color: rgb(41, 94, 240);
}

.color2{
    margin-left: 5%;
    margin-right: 5%;
    height: 7px;
    background-color: rgb(110, 107, 107);
}

.color3{
    margin-left: 7%;
    margin-right: 7%;
    height: 7px;
    background-color: rgb(224, 33, 33);
}

.color4{
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 30px;
    height: 7px;
    background-color: rgb(240, 226, 41);  
}

.button {
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

.flex_container_bio{
    height: 850px;
    background-image: url("../themes/fondo.webp");
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.container_color{
    display: grid;
    padding: 0;
    height: 850px;
    position: absolute;
    background-color: rgba(29, 29, 31, 0.6);
}

.flex_container_bio div{
    font-size: 22px;
    text-align: center;
    color: rgb(241, 238, 238);
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 15px;
}

.flex_container_bio h1{
    margin-top: 70px;
}

.flex_container_bio li{
    margin-left: 40%;
    text-align: left;
}

.flex_container_table{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flex_container_table div{
    display: flex;
}

.flex_container_table h1{
    margin-bottom: 20px;
    font-size: 45px;
}

.format_table{
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 2px;
    margin: 2%;
}

.format_table td{
    border: 2px solid black;
}

.team{
    text-align: center;
    margin-bottom: 3%;
    font-size: 22px;
}

.flex_container_team{
    display: flex;
    justify-content: center;
}

.flex_container_team div{
    flex-direction: row;
    margin-right: 50px;
    font-size: 22px;
    text-align: center;
}

.title_video{
    font-size: 22px;
    text-align: center;
}

.flex_container_video{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_container_video iframe{
    margin-right: 5px;
}


.flex_container_contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex_container_contacto h1{
    text-align: center;
}

.flex_container_contacto form{
    margin-left: 25%;
}