*{
    padding: 0;
    margin: 0;
    border: border-box;
    max-width: 1920px;
}

body{
    font-family: 'Orbitron', sans-serif;
    align-items: center;
    background-color: rgb(124, 58, 97,0.5);
}

h1{
    margin-top: 10px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    margin-bottom: 5px;
}

.boton{
    background-color: rgb(33, 187, 134 );
}

.boton:hover {
    background-color:rgb(33, 187, 134 );
}
