/* ! Contenedor: Botones */

div.container_botones {
    display: flex;
    justify-content: center;
}

div.container_botones>button {
    margin: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 6px;
    background-color: deepskyblue;
    color: aliceblue;
}