/* ! Contenedor: Domicilio de contacto */

div.container_contacto {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-bottom: 30px;
}

div.container_contacto>div {
    display: flex;
    flex-direction: column;
}