/* ! Contenedor: Datos del Representante */

div.container_datosRepresentante {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-bottom: 30px;
}

div.container_datosRepresentante>div {
    display: flex;
    flex-direction: column;
}