/* ! Contenedor: Documentos adjuntos */

div.aviso {
    padding: 10px;
    border: 2px solid khaki;
    border-radius: 6px;
    background-color: rgb(243, 239, 207);
}

div.aviso>ul {
    margin-left: 30px;
}