/* ! Contenedor: Lista de documentos pendientes */

div.container_documentosPendientes>div {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

div.container_documentosPendientes>div.contenido {
    margin: 0px;
    display: flex;
}

div.container_documentosPendientes>div.contenido>div.contenido-izq {
    margin-bottom: 10px;
    padding: 10px;
    width: 80%;
}

div.container_documentosPendientes>div.contenido>div.contenido-der {
    margin-bottom: 10px;
    padding: 10px;
    width: 20%;
}

.file {
    position: relative;
    display: inline-block;
}

.file::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

input[type="file"] {
    /* opacity: 0; */
    width: 200px;
    height: 32px;
    display: inline-block;
}

#file1::before {
    content: 'Seleccionar Archivo 1'
}

#file2::before {
    content: 'Seleccionar Archivo 2';
}