/* ! Estilos de los mensajes de error */

label.error {
    color: red !important;
}

input.error,
select.error {
    border: 1px solid red;
}

div.errores {
    padding: 20px;
    margin-bottom: 30px;
    background-color: lightcoral;
    border: 1px solid indianred;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

div.errores > ul > li{
    margin: 0px 0px 5px 30px;
}