/* ! Contenedor: Medios de difusion */

div.container_mediosDifusion label {
    margin-right: 10px;
}

div.container_mediosDifusion>div.contenido {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}