/* ! Separadores de contenido */

span.separadores {
    height: 25px;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 5px;
    line-height: 25px;
    width: 99.50%;
    display: block;
    background-color: deepskyblue;
    color: aliceblue;
    font-weight: bold;
}

span.ama {
    background-color: rgb(241, 216, 134);
    color: black;
}