@import url(_separadores.css);
@import url(_datosRepresentante.css);
@import url(_contacto.css);
@import url(_mediosDifusion.css);
@import url(_documentosAdjuntos.css);
@import url(_documentosPendientes.css);
@import url(_botones.css);
@import url(_errores.css);

/* ! Generales */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}


/* ! Titulo */

div.container_all>h1 {
    text-align: center;
    margin-bottom: 20px;
    color: deepskyblue;
}


/* ! Divs */

div.container_all {
    margin: auto;
    padding: 20px;
    max-width: 1200px;
}

div.container_representante,
div.container_datosRepresentante,
div.container_contacto,
div.container_masDatos,
div.container_alergias,
div.container_datosAcademicos,
div.container_mediosDifusion,
div.container_documentosAdjuntos,
div.container_documentosPendientes {
    margin-bottom: 30px;
}


/* ! Contenedor: Datos Actua como Representante */

div.container_representante>label {
    margin-right: 20px;
}


/* ! Contenedor: Mas datos */

div.container_masDatos>input {
    margin-right: 10px;
    margin-bottom: 10px;
}


/* ! Contenedor: Alergias... */

textarea {
    width: 99.50%;
    height: 100px;
    resize: none;
}


/* ! Contenedor: Datos academicos */

div.container_datosAcademicos>input,
div.container_datosAcademicos>details>input {
    margin: 5px 0px 5px 10px;
}

div.correcto{
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgb(157, 187, 157);
    border: 1px solid rgb(100, 207, 100);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}