body {
    font-family: 'Bebas Neue', cursive;
}

h1{
    text-align: center;
    font-size: 22px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.respuesta {
    background-color: rgb(152, 65, 223);
    color: rgb(245, 245, 236);
}
 