*{
    padding: 0;
    margin: 0;
    border: border-box;
    max-width: 1920px;
}

body{
    background-size:cover;
    background-image: url("../themes/theme.jpg");
    background-repeat: no-repeat;
    position: relative;
}

header{
    text-align: center;
    font-size: 25px;
}

header h1{
    font-size: 70px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.container div{
    margin-top: 5px;
}

.boton{
    background-color: rgb(207, 168, 61);
}